@media screen and (max-width: 1024px) {
    .content-3::after{
        width: 300px; 
    }

    .banner-top{
        width: 100%;
    }

    .content-3::after{
        width: 70%;   
    }
}

@media screen and (max-width: 768px) {
    .content-3::after{
        width: 70%;   
    }

    .menu span{
        font-size: larger;
        color: #fff;
        display: flex;
        justify-content: end;
    }

    .menu ul{
        display: none;
    }

    .banner-top{
        width: 100%;
    }

    .banner-bottom{
        flex-direction: column;
        width: 100%;
        gap: 35px;
    }

    .content-1, .content-2, .content-3{
        width: 100%;
        border-radius: 10px;
    }

    .logo{
	    width: 30%;
    }

    .btn{
        border-radius: 10px;
    }
}

@media screen and (max-width: 320px) {
    .banner-top h1{
        font-size: 30px;
    }

    .banner-top{
	padding: 80px 0;
    }
    .content-1 p{
    font-size: 14px;
    }
    .content-2 p{
        font-size: 14px;
    } 
    .content-3 p{
        font-size: 14px;
    }

    .btn{
        font-size: 14px;
    }
}